
.buttons {
  width: 200px;
  margin: 0 auto;
  display: inline;
}

.action_btn {
  width: 200px;
  margin: 0 auto;
  display: inline;
}

.example-full-width {
    width: 100%;
    display: block;
    position: relative;
  }

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

