

<div style="width:600px">
    <h2 mat-dialog-title>{{btnName }} - Inspection</h2>
    <div mat-dialog-content>
        <form [formGroup]="InspectionFG">
            <div class="form-row">
                <div class="form-group col-md-12">
                   <mat-form-field class="example-full-width" appearance="outline"
                        [ngClass]="{ 'is-invalid': submitted && f1['InspectionDt'].errors }">
                        <mat-label>Inspection Date</mat-label>
                        <input matInput required [matDatepicker]="picker1" placeholder="Choose inspection date"
                            formControlName="InspectionDt" [(ngModel)]="ObjInspectionModel.InspectionDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>

                        <mat-error
                            *ngIf="f1['InspectionDt'].errors !== null && f1['InspectionDt'].errors['required']">
                            Please select inspection date
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline"
                        [ngClass]="{ 'is-invalid': submitted && f1['CustomerName'].errors }">
                        <mat-label>Customer Name </mat-label>
                        <input matInput placeholder="Customer name" formControlName="CustomerName"
                            [(ngModel)]="ObjInspectionModel.Customer">
                        <mat-error
                            *ngIf="f1['CustomerName'].errors !== null && f1['CustomerName'].errors['required']">
                            Customer name is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline"
                        [ngClass]="{ 'is-invalid': submitted && f1['Address'].errors }">
                        <mat-label>Address </mat-label>
                        <input matInput placeholder="Address" formControlName="Address"
                            [(ngModel)]="ObjInspectionModel.Address">
                        <mat-error *ngIf="f1['Address'].errors !== null && f1['Address'].errors['required']">
                            Address is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline"
                        [ngClass]="{ 'is-invalid': submitted && f1['Observations'].errors }">
                        <mat-label>Observations </mat-label>
                        <input matInput placeholder="Observations" formControlName="Observations"
                            [(ngModel)]="ObjInspectionModel.Observations">
                        <mat-error
                            *ngIf="f1['Observations'].errors !== null && f1['Observations'].errors['required']">
                            Observations is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline"
                        [ngClass]="{ 'is-invalid': submitted && f1['Status'].errors }">
                        <mat-label>Status</mat-label>
                        <mat-select placeholder="Status" required formControlName="Status"
                            [(ngModel)]="ObjInspectionModel.Status">
                            <mat-option>Select Status</mat-option>
                            <mat-option value="New">New</mat-option>
                            <mat-option value="In progress">In Progress</mat-option>
                            <mat-option value="Done">Done</mat-option>
                        </mat-select>

                        <mat-error *ngIf="f1['Status'].errors !== null && f1['Status'].errors['required']">
                            Please select status
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline"
                        [ngClass]="{ 'is-invalid': submitted && f1['Inspector'].errors }">
                        <mat-label>Inspector</mat-label>
                        <mat-select placeholder="Inspector" required formControlName="Inspector"
                            [(ngModel)]="ObjInspectionModel.InspectorId">
                            <mat-option>Select Inspector</mat-option>
                            <mat-option *ngFor="let ins of Lstinsepector" [value]="ins.InspectorId">
                                {{ins.InspectorName}}
                            </mat-option>
                        </mat-select>

                        <mat-error
                            *ngIf="f1['Inspector'].errors !== null && f1['Inspector'].errors['required']">
                            Please select Inspector
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">



                    <button mat-button type="submit" class="mat-raised-button mat-primary"
                        [disabled]="InspectionFG.invalid" style="width: 100%;"
                        (click)="OnSubmit()">{{this.btnName}}</button>

                    
                </div>
                <div class="form-group col-md-6">
                    <button type="button" mat-button class="mat-raised-button mat-primary"
                    (click)="CloseDialog()">
                    Cancel
                </button>
                </div>
            </div>
        </form>
    </div>
    
</div>

